<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.762.42" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.762.42" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.762.42" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Analytics.Controls" version="1.34.35" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Analytics.ControlsExtension" version="1.0.0.8" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.ResponsiveNavigation" version="12.762.42" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Scope" version="14.1.202" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Scope.Meta" version="1.1.202" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.ScopeControl" version="12.762.42" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EventLogger" version="19.0.202" targetFramework="native1.12-tchmi" />
</packages>